## Marta ---------------------------------------------------------

In [2]:
import pandas as pd
import numpy as np

In [19]:
noaa_on_fire = pd.read_csv('./data/mfi_df_yr.csv')

In [20]:
noaa_on_fire.drop(columns = ['Unnamed: 0', 'time_burnt_fixed', 'fire_year', 'statecode', 'division'], inplace = True)
noaa_on_fire.columns

Index(['stat_cause_descr', 'fire_size', 'fire_size_class', 'state',
       'cont_date_fixed', 'disc_date_fixed', 'time_burnt', 'month', 'year',
       'yearmonth', 'pcp', 'tavg', 'pdsi', 'phdi', 'zndx', 'pmdi', 'cdd',
       'hdd', 'sp02', 'sp03', 'sp06', 'sp09', 'sp12', 'sp24', 'tmin', 'tmax'],
      dtype='object')

In [22]:
noaa_on_fire.sort_values('yearmonth', inplace = True)

In [40]:
yrmth_sorted = list(noaa_on_fire['yearmonth'].unique())
yrmth_sorted[(yrmth_sorted.index(199304) -12):yrmth_sorted.index(199304)]

[199204,
 199205,
 199206,
 199207,
 199208,
 199209,
 199210,
 199211,
 199212,
 199301,
 199302,
 199303]

In [46]:
# tavg_t12m = []
# for yrmth in yrmth_sorted[:12]:    
#     tavg_t12m.append(np.nan)
# for yrmth in yrmth_sorted[12:]:  
#     tavg_t12m.append(noaa_on_fire[(noaa_on_fire['yearmonth'] >= yrmth_sorted[yrmth_sorted.index(yrmth) -12])&
#                (noaa_on_fire['yearmonth'] <= yrmth_sorted[yrmth_sorted.index(yrmth)])]['tavg'].mean())

Defining a function which takes in the number of months (X) and a variable available in the dataset and adds a new column for a trailing X months average of the specified variable:

In [63]:
def trail_x_mth_avg(n_months, var_name):
    temp_list = [] # this is an empty list to temporarily store trailing averages in the same order as yrmth_sorted
    for yrmth in yrmth_sorted[:n_months]: 
        temp_list.append(np.nan) # the first n values can't be calculated
    for yrmth in yrmth_sorted[n_months:]:  #below we average the values for each set of the n months after the first n:
        temp_list.append(noaa_on_fire[(noaa_on_fire['yearmonth'] >= yrmth_sorted[yrmth_sorted.index(yrmth) - n_months])&
                   (noaa_on_fire['yearmonth'] <= yrmth_sorted[yrmth_sorted.index(yrmth)])][var_name].mean())
    noaa_on_fire[str(var_name)+'_t'+str(n_months)+'m'] = noaa_on_fire['yearmonth'].apply(lambda x: temp_list[yrmth_sorted.index(x)])
    # last line adds this information to the dataset with a descriptive column name

Applying the function to climate variables for 12, 9, 6 and 3 months trailing averages:

In [72]:
variables = ['tavg','pcp', 'pmdi', 'pdsi']
ns = [12, 9, 6, 3]

for var in variables:
    for n in ns:
        trail_x_mth_avg(n, var)

In [75]:
noaa_on_fire.columns

Index(['stat_cause_descr', 'fire_size', 'fire_size_class', 'state',
       'cont_date_fixed', 'disc_date_fixed', 'time_burnt', 'month', 'year',
       'yearmonth', 'pcp', 'tavg', 'pdsi', 'phdi', 'zndx', 'pmdi', 'cdd',
       'hdd', 'sp02', 'sp03', 'sp06', 'sp09', 'sp12', 'sp24', 'tmin', 'tmax',
       'tavg_t12m', 'tavg_t9m', 'tavg_t6m', 'tavg_t3m', 'pcp_t12m', 'pcp_t9m',
       'pcp_t6m', 'pcp_t3m', 'pmdi_t12m', 'pmdi_t9m', 'pmdi_t6m', 'pmdi_t3m',
       'pdsi_t12m', 'pdsi_t9m', 'pdsi_t6m', 'pdsi_t3m'],
      dtype='object')

In [77]:
noaa_on_fire.tail()

,stat_cause_descr,fire_size,fire_size_class,state,cont_date_fixed,disc_date_fixed,time_burnt,month,year,yearmonth,...,pcp_t6m,pcp_t3m,pmdi_t12m,pmdi_t9m,pmdi_t6m,pmdi_t3m,pdsi_t12m,pdsi_t9m,pdsi_t6m,pdsi_t3m
414626,Missing/Undefined,0.1,A,AZ,2015-12-22,2015-12-22,0.0,12,2015,201512,...,1.07885,1.332475,-2.68727,-2.726656,-2.689989,-2.380456,-2.529519,-2.540082,-2.51107,-2.215478
414625,Missing/Undefined,0.1,A,AZ,2015-12-21,2015-12-21,0.0,12,2015,201512,...,1.07885,1.332475,-2.68727,-2.726656,-2.689989,-2.380456,-2.529519,-2.540082,-2.51107,-2.215478
414624,Missing/Undefined,0.1,A,AZ,2015-12-21,2015-12-21,0.0,12,2015,201512,...,1.07885,1.332475,-2.68727,-2.726656,-2.689989,-2.380456,-2.529519,-2.540082,-2.51107,-2.215478
414637,Missing/Undefined,0.1,A,AZ,2015-12-25,2015-12-25,0.0,12,2015,201512,...,1.07885,1.332475,-2.68727,-2.726656,-2.689989,-2.380456,-2.529519,-2.540082,-2.51107,-2.215478
414639,Missing/Undefined,0.1,A,AZ,2015-12-25,2015-12-25,0.0,12,2015,201512,...,1.07885,1.332475,-2.68727,-2.726656,-2.689989,-2.380456,-2.529519,-2.540082,-2.51107,-2.215478

In [79]:
# this is massive with all rows! don't push this file!!!
# noaa_on_fire.to_csv('./data/DONT_PUSH_mfi_df_yr_trail.csv')

## Kira ---------------------------------------------------------

In [1]:
# import boto3
import boto3
import io

In [2]:
# Set S3 to use AWS s3
s3 = boto3.resource('s3')

In [3]:
# - example:
 s3.upload_file(
    'DONT_PUSH_mfi_df_yr_trail.csv', 'git-to-amazon-s3-outputbucket-rorni8oehk4l', 'soulclimberchick/meteorology-fire-impact/data-files/DONT_PUSH_mfi_df_yr_trail.csv',
)

SyntaxError: cannot assign to function call (<ipython-input-3-3f64ffcb2312>, line 2)

## CM ---------------------------------------------------------

## Jesse ---------------------------------------------------------